body {
  background-color: rgb(120, 20, 227);
  font-family: sans-serif;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  background: rgb(154, 122, 235);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  margin: 0 0 10px 0;
}

h2 {
  margin: 0 0 4px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 22px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 32px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

a:link {
  color: rgb(0, 255, 76);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 255, 76);
}